# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python packaging
build/
dist/

# Temporary files
*.log
*.tmp